<%- layout('layouts/main') %>
<div alig="center"><h1>BIENVENIDOS AL ACUARIO BLOOP</h1></div>

<body style="background-image: url(https://www.publicdomainpictures.net/pictures/30000/velka/sea-wallpaper.jpg);"> 
    <div align="center"><img src="https://cdn.dribbble.com/users/1678587/screenshots/10757257/media/fa8a664a349fa33b98068af972a1627f.png?compress=1&resize=400x300" alt="Logo"></div>
</body>